<form action="/meetup/new" method="post">

  <label>Meetup Name: </label>
  <input type="text" name="meetup_name" /><br><br>

  <label>Location: </label>
  <input type="text" name="location" /><br><br>

  <label>Description: </label>
  <input type="textarea" name="description" /><br><br>

  <input type="submit" value="Submit" />
</form>


